.bground {
    /* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: #179AD7;
background: -webkit-linear-gradient(top right, #179AD7, #7E58B2);
background: -moz-linear-gradient(top right, #179AD7, #7E58B2);
background: linear-gradient(to bottom left, #179AD7, #7E58B2);

}