.bground {
    /* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
    background: #075072;
    background-image: url('../../Images/3326663.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1035px) {
    .bground{
        width: 100%;
        height: auto;
    }
    
}